pandas
regex
numpy
tensorflow
demoji
keras
underthesea
transformers
datasets==2.18
nltk
matplotlib
streamlit
requests
streamlit_lottie
streamlit_jupyter 
plotly
streamlit_chat
streamlit_extras
scikit-learn